.navbar{
    background-color: rgb(246, 245, 245);
    height: 90px;
    width: 100%;
    align-items: center;
    display: flex;
    box-shadow: 0px 0px 10px rgb(56, 56, 56);

}
.logo img{
     width: 100%;
     max-width:250px;
     min-width: 200px;
     margin-left: 20px;
     margin-right: 850px;
}
.link a{
       margin-left: 40px;
       font-family: Arial, Helvetica, sans-serif;
       font-size: large;
       text-decoration: none;
       color: gray;

}
.link a:hover{
    color: rgb(3, 51, 3);
}
.form{
     width: 70%;
    height: auto;
    margin: 50px auto;
    padding: 20px;
    box-shadow: 0px 0px 10px 1px grey;    
}
.heading{
    text-align: center;
    padding: 10px;
}
.heading h1{
     color: rgb(3, 78, 3);
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    word-spacing: 2px;
}
.firstraw{
    gap: 30px;
    display: flex;
    margin-top: 30px;
    margin-left: 100px;
    margin-right: 100px;
   


}

select{
    width: 100%;
    padding: 10px 0px;
    font-size: 15px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(3, 78, 3);
    margin-top: 20px;

}
label{
    font-size: 15px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    font-weight: bold;
  
}
span{
    color: red;
}
.secondraw{
    gap: 30px;
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.diveee{
     width: 100%;
    padding: 10px 0px;
    outline: none;
    border: none;
    background: none;
    border-bottom: 1px solid rgb(3, 78, 3);
    margin-top: 20px;
}
.thirdraw{
     gap: 30px;
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.fourthraw{
      gap: 30px;
    display: flex;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.fifthraw{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.sisthraw{
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
}
.file{
    border: 1px solid  rgb(3, 78, 3);
    padding: 30px;
    padding-right: 200px;
    margin-top: 15px;
    margin-bottom: 120px;
    
}
.sisthraw input{
    background-color: rgb(3, 78, 3);;
}

button{
    padding: 20px 100px 20px 100px;
    border-radius: 8px;
    background-color:  rgb(3, 78, 3);
    color: white;
    font-size: large;
    font-weight: bold;
    box-shadow: 0px 0px 8px 2px grey;
    margin-bottom: 200px; 
    margin-left: 35%;
}